# Popups: APP_MODE=popups PORT=4088   |   Calendario: APP_MODE=events PORT=4087
APP_MODE=popups
PORT=4088
ACCESS_CODE=
HUB_SECRET=mismo-valor-que-en-el-hub
COOKIE_SECRET=cadena-larga-aleatoria
WP_BASE_URL=https://maquiavelosevilla.com
WP_USER=
WP_APP_PASSWORD=
WP_API_NAMESPACE=serendipia-popups/v1
WP_CACHE_TTL_MS=30000
