PORT=4090
HUB_PASSWORD=cambia-esto
HUB_SECRET=cadena-larga-aleatoria
# URLs internas de cada herramienta (nombre del servicio en Easypanel)
TOOL_POPUPS_URL=http://PROYECTO_popups:4088
TOOL_CALENDARIO_URL=http://PROYECTO_calendario:4087
